.inicial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c2c2c;
    color: white; 
    font-family: Arial, sans-serif;
}

.inicial-box {
    text-align: center;
    padding: 50px;
}

.logo-area {
    margin-bottom: 50px;
}

.logo-image {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.logo-area h1 {
    font-size: 2.5em;
    margin: 5px 0;
}

.logo-area p {
    font-size: 1em;
    opacity: 0.7;
}


