<div class="history-list">
    <h2>Histórico de pedidos</h2>

    <div *ngFor="let order of orders" class="order-card">
        <div class="order-details">
            <p class="client-name">{{ order.clientName }} da Silva</p>
            
            <div class="info-line">
                <span class="label">Valor:</span> 
                <span class="data">{{ formatValue(order.value) }}</span> 
                <span class="label cnpj">CNPJ/CPF:</span> 
                <span class="data">{{ order.cnpj }}</span>
            </div>
            
            <div class="info-line">
                <span class="status-badge">{{ order.status }}</span>
                <span class="label">Feito:</span> 
                <span class="data">{{ order.dateMade | date: 'dd/MM/yyyy' }}</span>
                <span class="label">Entrega:</span> 
                <span class="data">{{ order.deliveryDate | date: 'dd/MM/yyyy' }}</span>
            </div>
        </div>
    </div>
</div>