.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c2c2c;
    color: white; 
    font-family: Arial, sans-serif;
}

.login-box {
    text-align: center;
    padding: 50px;
}

.logo-area {
    margin-bottom: 50px;
}

.logo-image {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.logo-area h1 {
    font-size: 2.5em;
    margin: 5px 0;
}

.logo-area p {
    font-size: 1em;
    opacity: 0.7;
}

.action-buttons button {
    width: 300px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-size: 1.1em;
}

.btn-login, .btn-cadastro {
    background-color: white;
    color: #2c2c2c;
    display: grid;
    place-items: center 
}

.btn-login:hover, .btn-cadastro:hover {
    background-color: #f0f0f0;
    display: grid;
    place-items: center
}

